<ng-template appPlaceholder></ng-template>
<div class="row">
  <div class="col-xs-12">
    <!-- <div class="alert alert-danger" *ngIf="error">
      <p>{{error}}</p>
    </div> -->
    <!-- <app-alert [message]="error" *ngIf="error" (accept)="onErrorHandle()"></app-alert> -->
    <div *ngIf="isLoading" style="display: block; margin: 0 auto;">
      <app-spinner></app-spinner>
    </div>
    <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)" *ngIf="!isLoading">
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" class="form-control" ngModel name="email" required email>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" class="form-control" ngModel name="password" required minlength="6">
      </div>
      <div>
        <button class="btn btn-primary" type="submit"
          [disabled]="authForm.invalid">{{ isSignIn ? 'Sign In' : 'Sign Up' }}</button> |
        <button class="btn btn-primary" type="button" (click)="onSwitchMode()">Switch to
          {{ isSignIn ? 'Sign Up' : 'Sign In' }}</button>
      </div>
    </form>
  </div>
</div>